.khunganh {
    width: 200px;
    border: 1px solid gray;
    text-align: center;
    padding: 10px;
    margin: 10px;
    float: right;
  }
  .khunganh p{
    font-style: italic;
    font-size: small;
  }
  .vanban{
    text-align: justify;
  }
  .khunganh img{
    width: 175px;
    height: 400px;
  }